# language dependencies
/vendor
# application mounts
/.docker-volumes
# ide cache mounts
/.devcontainer/cache
# ide cache extensions mount
!/.devcontainer/cache/extensions/.gitkeep
# ide cache program/runtime mounts
!/.devcontainer/cache/go/.gitkeep
# build artifacts location
/build
# prevent secrets from getting commited
/secret
/secrets
/.bin
